@using Dominio
@model List<Persona>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Documento</th>
            <th scope="col">Nombre</th>
            <th scope="col">Prestamo por Persona</th>

        </tr>
    </thead>
    <tbody>

        @foreach (Persona unaPersona in Model)
        {
            <tr>
                <td>@unaPersona.Cedula</td>
                <td>@unaPersona.Nombre</td>
                <td><a href="/Persona/ListarPrestamosPersona/@unaPersona.Id">Verificar Prestamos</a></td>
            </tr>
        }

    </tbody>
</table>
